@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

body{
    /* background-image: url(background/test.jpeg);    /* 自宅用 */
    background-image: url(https://doumyou.github.io/Doumyou.fnd27/background/test.jpeg);    /* 提出サーバー用 */
}


.header > h1{     /* タイトル */
    margin: 0;
    padding: 0;
    font-family: 'Cherry Swash', cursive;
    font-size: 70px;
    text-align: center;
}

.area {         /* コンテンツのエリア */
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    /* divを水平に並べる */
    justify-content: center;
    /* divを中央寄せ */

}

.tab_class {
    margin: 10px;
    width: 25%;
    height: 50px;
    background-color: rgb(226, 226, 226);
    line-height: 50px;
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

input[name="tab_name"] {
    display: none;
}

input:checked+.tab_class {
    background-color: rgb(66, 211, 255);
    color: aliceblue;
    font-weight: bold;
    font-size: 30px;
}

.content_class {
    display: none;
    width: 100%;
}

input:checked+.tab_class+.content_class {
    display: block;
}
