.tetrisContainer {
    position: relative;
    margin: auto;
    width: 700px;
}

.tetrisTitle{
    position: absolute;
    margin-bottom: 10px;
    left: 118px;
    top: 15px;
}

#mainCanvas{
    position: absolute;
    top: 55px;
    left: 125px;
    /* background-image:url(background/OIP.jpg);   /* 自宅用 */
    background-image:url(https://doumyou.github.io/Doumyou.fnd27/background/OIP.jpg);   /* 提出サーバー用 */
    background-size:contain;
    background-position: 50%;
}

.nextMessage{
    position: absolute;
    top: 25px;
    left: 480px;
}

#nextCanvas {
    position: absolute;
    top: 55px;
    left: 475px;
    background-color: rgb(252, 232, 198);
}

.howTo{
    position: absolute;
    top: 480px;
    left: 475px;
    background-color: rgb(186, 255, 255);
    width: 210px;
    padding: 5px;
}

.score{
    position: absolute;
    top: 350px;
    left: 475px;
    background-color: rgb(186, 255, 255);
    width: 210px;
}

.score p{
    font-size:24px;
    text-align: center;
}

.use{
    width: 200px;
    height: 10px;
    border-collapse: collapse;
    text-align: center;
}

caption{
    text-align: left;
}

td,     /* 枠線の設定 */
th{
    border: 1px solid black;
}

#startButton {
    position: absolute;
    left: 475px;
    top: 650px;
    width: 210px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(#0004ff, #5b68ff);
    transition: .5s;
    background-size: 200%;
}

#startButton:hover {
    background-position: right center;
}
